---
import { Icon } from '@astrojs/starlight/components';
---

{/*
  Customized ThemeSelect.
  - Only Light and Dark options (no Auto).
  - Defaults to Dark on first visit.
*/}
<starlight-theme-select>
	<label style="--sl-select-width: 6.25em;">
		<span class="sr-only">Select theme</span>
		<Icon name="moon" class="icon label-icon" />
		<select value="dark">
			<option value="dark" selected>Dark</option>
			<option value="light">Light</option>
		</select>
		<Icon name="down-caret" class="icon caret" />
	</label>
</starlight-theme-select>

{/* Inlined to avoid FOUC. Uses global scope from `ThemeProvider.astro`. */}
<script is:inline>
	StarlightThemeProvider.updatePickers();
</script>

<script>
	type Theme = 'dark' | 'light';

	const storageKey = 'starlight-theme';

	const parseTheme = (theme: unknown): Theme =>
		theme === 'light' ? 'light' : 'dark';

	const loadTheme = (): Theme =>
		parseTheme(typeof localStorage !== 'undefined' && localStorage.getItem(storageKey));

	function storeTheme(theme: Theme): void {
		if (typeof localStorage !== 'undefined') {
			localStorage.setItem(storageKey, theme);
		}
	}

	function onThemeChange(theme: Theme): void {
		// `updatePickers` is provided by ThemeProvider.astro via the global scope.
		(window as any).StarlightThemeProvider.updatePickers(theme);
		document.documentElement.dataset.theme = theme;
		storeTheme(theme);
	}

	class StarlightThemeSelect extends HTMLElement {
		constructor() {
			super();
			onThemeChange(loadTheme());
			this.querySelector('select')?.addEventListener('change', (e) => {
				if (e.currentTarget instanceof HTMLSelectElement) {
					onThemeChange(parseTheme(e.currentTarget.value));
				}
			});
		}
	}
	customElements.define('starlight-theme-select', StarlightThemeSelect);
</script>

<style>
	label {
		--sl-label-icon-size: 0.875rem;
		--sl-caret-size: 1.25rem;
		--sl-inline-padding: 0.5rem;
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		color: var(--sl-color-gray-1);
	}

	label:hover {
		color: var(--sl-color-gray-2);
	}

	.icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}

	.label-icon {
		font-size: var(--sl-label-icon-size);
		inset-inline-start: 0;
	}

	.caret {
		font-size: var(--sl-caret-size);
		inset-inline-end: 0;
	}

	select {
		border: 0;
		padding-block: 0.625rem;
		padding-inline: calc(var(--sl-label-icon-size) + var(--sl-inline-padding) + 0.25rem)
			calc(var(--sl-caret-size) + var(--sl-inline-padding) + 0.25rem);
		margin-inline: calc(var(--sl-inline-padding) * -1);
		width: calc(var(--sl-select-width) + var(--sl-inline-padding) * 2);
		background-color: transparent;
		text-overflow: ellipsis;
		color: inherit;
		cursor: pointer;
		appearance: none;
	}

	option {
		background-color: var(--sl-color-bg-nav);
		color: var(--sl-color-gray-1);
	}

	@media (min-width: 50rem) {
		select {
			font-size: var(--sl-text-sm);
		}
	}
</style>
