---
interface Props {
  id: string;
  title?: string;
  start?: number;
}

const { id, title = 'YouTube video', start } = Astro.props;
const src = `https://www.youtube-nocookie.com/embed/${id}${start ? `?start=${start}` : ''}`;
---

<div class="video-embed">
  <iframe
    src={src}
    title={title}
    loading="lazy"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
